@model Bookstore.Web.Models.StatModel

<body face='Arial' encoding='koi8-r'>
    <h2 style="text-align: center">Самая продаваемая книга</h2>
    <br/>

    <table>
        <thead>
            <tr>
                <th>Название книги</th>
                <th>Количество</th>
                <th>Общая стоимость</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Bestseller.Title</td>
                <td>@Model.Bestseller.Count</td>
                <td>@Model.Bestseller.TotalCost</td>
            </tr>
        </tbody>
    </table>
    
    <br/>
    <h2 style="text-align: center">Статистика продаж</h2>

    <h3 style="text-align: center">Общая сумма продаж: @Model.TotalCost$</h3>

    <p style="text-align: center"><b>По статусам заказов</b></p>

    <table>
        <thead>
            <tr>
                <th>Статус</th>
                <th>Количество заказов</th>
                <th>Общая стоимость</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>В процессе</td>
                <td>@Model.InProcess.Count</td>
                <td>@Model.InProcess.Cost</td>
            </tr>
            <tr>
                <td>Завершен</td>
                <td>@Model.Processed.Count</td>
                <td>@Model.Processed.Cost</td>
            </tr>
        </tbody>
    </table>

    <br>
    <p style="text-align: center"><b>По книгам</b></p>

    <table>
        <thead>
            <tr>
                <th>Название книги</th>
                <th>Количество</th>
                <th>Общая стоимость</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.Books)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Count</td>
                    <td>@book.TotalCost</td>
                </tr>
            }
        </tbody>
    </table>
</body>